<mat-dialog-content>
    <div class="map-container">
        <div class="map-frame relative z-0">
            <div id="map" class="relative w-screen h-screen">
            </div>
        </div>
        <div class="w-full absolute top-20 flex items-center">
            <span class="mx-auto p-2 w-2/3 rounded-md opacity-80 bg-zinc-800">
                <form class="example-form" (submit)="$event.preventDefault()">
                    <mat-form-field class="mx-auto -mb-5 w-full opacity-100" appearance="outline">
                        <mat-label>Search Cities</mat-label>
                        <input matInput type="text" (input)="getLocations($event)" placeholder="Search Cities" class="">
                    </mat-form-field>
                </form>
                <div *ngIf="locations.length > 0">
                    <mat-option (onSelectionChange)="onSelect(location.center)" *ngFor="let location of locations">
                        {{location.place_name}}
                    </mat-option>
                </div>
            </span>
        </div>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>