<mat-card class="bg-color-dark relative">
    <mat-card-header class="bg-color-dark">
        <mat-card-title>
            <div class="flex justify-between w-full">
                <ng-content select="#title"></ng-content>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="bg-color-dark">
        <ng-content select="#content" align="start"></ng-content>
    </mat-card-content>
    <mat-card-actions align="start" class="bg-color-dark">
        <div class="flex justify-between w-full">
            <ng-content select="#property" align="start"></ng-content>
            <ng-content select="#senderEmail"></ng-content>
            <ng-content select="#topic"></ng-content>
            <ng-content select="#createdAt"></ng-content>
        </div>
    </mat-card-actions>
</mat-card>