<div class="p-3">
  <div *ngIf="(enquiries$ | async)?.length; else noItems">
    <div *ngFor="let enquiry of enquiries$ | async" class="pb-3">
      <app-enquiry
        [routerLink]="
          appRoutes.enquiries({}).enquiry({ id: enquiry._id }).$
        "
      >
        <span id="title">{{ enquiry.title }}</span>
        <span
          id="property"
          class="ml-2"
          [routerLink]="
            appRoutes.properties({}).property({ id: enquiry.property._id })
              .$
          "
          class="cursor-pointer"
          >{{ enquiry.property.title }}</span
        >
        <span id="senderEmail">{{ enquiry.senderEmail }}</span>
        <span id="topic">{{ enquiry.topic }}</span>
        <span id="createdAt">{{ enquiry.createdAt | date: "shortDate" }}</span>
      </app-enquiry>
    </div>
  </div>
</div>

<ng-template #noItems>
  <div class="bg-color-dark flex items-center justify-center m-3 rounded-t-xl">
    <p class="m-10">You haven't enquired to anybody yet!!!</p>
  </div>
</ng-template>
