<div class="md:flex">
  <div class="md:w-9/12">
    <div class="m-5 p-3 bg-color-dark rounded-md relative">
      <p class="font-medium text-2xl mb-3">{{ (property$ | async)?.title }}</p>
      <span class="rounded-md bg-emerald-900 p-1 pr-2 pl-2"
        >Type: {{ (property$ | async)?.propertyType }}</span
      >
      @if ((user$ | async)?._id === (property$ | async)?.owner) {
        <button mat-button (click)="onEdit()" class="absolute right-3 top-3">
          Edit
        </button>
      }
      @if ((user$ | async)?._id === (property$ | async)?.owner) {
        <button
          color="warn"
          mat-button
          class="absolute right-24 top-3"
          (click)="onDelete()"
        >
          Delete
        </button>
      }
      @if (
        (user$ | async)?._id !== (property$ | async)?.owner &&
        (isFavorite$ | async) &&
        (isLoggedIn$ | async)
      ) {
        <button
          (click)="onUnFavour()"
          mat-icon-button
          color="primary"
          class="absolute right-3 top-3"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      }
      @if (
        (user$ | async)?._id !== (property$ | async)?.owner &&
        (isFavorite$ | async) === false &&
        (isLoggedIn$ | async)
      ) {
        <button
          (click)="onFavour()"
          mat-icon-button
          color="primary"
          class="absolute right-3 top-3"
        >
          <mat-icon class="text-slate-400">favorite</mat-icon>
        </button>
      }
    </div>
    <div class="m-5 p-3 rounded-md text-5xl bg-color-dark">
      <img [src]="(property$ | async)?.images?.[selectedImage]" alt="" />
      <div class="grid grid-cols-4 gap-3 mt-5">
        <img
          [src]="(property$ | async)?.images?.[0]"
          alt=""
          (click)="selectedImage = 0"
          appMaskImage
        />
        <img
          [src]="(property$ | async)?.images?.[1]"
          alt=""
          (click)="selectedImage = 1"
        />
        <img
          [src]="(property$ | async)?.images?.[2]"
          alt=""
          (click)="selectedImage = 2"
        />
        <img
          [src]="(property$ | async)?.images?.[3]"
          alt=""
          (click)="selectedImage = 3"
        />
      </div>
    </div>
    <div style="padding: 1rem" class="m-5 p-3 bg-color-dark rounded-md">
      <h1>Description:</h1>
      <br />
      <p>{{ (property$ | async)?.description }}</p>
    </div>
    <div style="padding: 1rem" class="m-5 p-3 bg-color-dark rounded-md">
      <h1>Tags</h1>
      <br />
      <div class="flex">
        @for (tag of (property$ | async)?.tags; track tag) {
          <span class="mr-3">{{ tag }}</span>
        }
      </div>
    </div>
    <div style="padding: 1rem" class="m-5 p-3 bg-color-dark rounded-md">
      <h1>Price:</h1>
      <br />
      <p class="text-xl font-semibold">INR: {{ (property$ | async)?.price }}</p>
    </div>
  </div>
  <div class="h-10 md:w-3/12">
    <div class="map m-5 md:ml-0 rounded-md relative">
      <app-map [latlng]="property$"></app-map>
      <div class="address mt-5 p-3 bg-color-dark rounded-md relative">
        <h1 class="text-3xl mb-2">Address</h1>
        <p>Country : {{ (property$ | async)?.address?.country }}</p>
        <p>State : {{ (property$ | async)?.address?.state }}</p>
        <p>District : {{ (property$ | async)?.address?.district }}</p>
        <p>City : {{ (property$ | async)?.address?.city }}</p>
        <p>
          Street Address : {{ (property$ | async)?.address?.streetAddress }}
        </p>
        <p>ZIP : {{ (property$ | async)?.address?.zipCode }}</p>
      </div>
    </div>
  </div>
</div>
@if (!(property$ | async)?.enquirers?.includes(userId)) {
  <section class="md:w-9/12">
    @if (
      (isLoggedIn$ | async) &&
      (user$ | async)?._id !== (property$ | async)?.owner
    ) {
      <div style="padding: 1rem" class="m-5 p-3 bg-color-dark rounded-md">
        <h1>Enquire for more information:</h1>
        <br />
        <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="mb-0 w-full" appearance="outline">
            <mat-label>Title</mat-label>
            <input type="text" formControlName="title" matInput />
            <mat-error>Title is Required</mat-error>
          </mat-form-field>
          <mat-form-field class="mb-0 mt-3 w-full" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput />
            <mat-error>Email is Required</mat-error>
          </mat-form-field>
          <mat-form-field class="mb-5 mt-3 w-full" appearance="outline">
            <mat-label>Content</mat-label>
            <input type="text" formControlName="content" matInput />
            <mat-error>Content is Required</mat-error>
          </mat-form-field>
          <label id="example-radio-group-label" class="mt-5">Topic</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            formControlName="topic"
            class="flex-col flex"
          >
            @for (topic of enquiryTopics; track topic) {
              <mat-radio-button
                class="example-radio-button"
                [value]="topic.toLowerCase().replace(' ', '-')"
              >
                {{ topic }}
              </mat-radio-button>
            }
          </mat-radio-group>
          <button mat-raised-button class="w-full mt-3">Submit</button>
        </form>
      </div>
    }
  </section>
} @else {
  <section class="md:w-9/12">
    <div class="m-5 p-3 bg-color-dark rounded-md">
      <p class="mb-3">You have already enquired to this property</p>
      <button mat-stroked-button routerLink="/enquiries/own-enquiries">
        Go to enquiries
      </button>
    </div>
  </section>
}
