<mat-drawer-container class="h-screen w-screen bg-color-primary" [hasBackdrop]="!screenWidth">
    <mat-drawer #drawer class="mat-drawer lg:w-80 md:w-60 bg-color-dark color-light shadow-none flex items-center "
        mode="side" [opened]="screenWidth">
        <div>
            <span class="w-5/6 p-5"> hello</span>
            <app-button routerLink="map">
                <mat-icon id="icon">map</mat-icon>
                <span id="name">Map</span>
            </app-button>
            <app-button routerLink="properties">
                <mat-icon id="icon">apartment</mat-icon>
                <span id="name">Properties</span>
            </app-button>
            <app-button routerLink="auth/login">
                <mat-icon id="icon">login</mat-icon>
                <span id="name">Login</span>
            </app-button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <app-navbar class="w-full" (toggleSide)="drawer.toggle()"></app-navbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>