/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-primary {
  color: #222428;
}
.bg-color-primary {
  background-color: #222428;
}

.color-accent {
  color: #a5c9ca;
}
.bg-color-accent {
  background-color: #a5c9ca;
}

.color-dark {
  color: #1e1e1e;
}
.bg-color-dark {
  background-color: #1e1e1e;
}

.color-light {
  color: #e7f6f2;
}
.bg-color-light {
  background-color: #e7f6f2;
}

.mdc-notched-outline__notch {
  border-right: none;
}
